@import url("https://fonts.googleapis.com/css?family=Tilt+Neon");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Tilt Neon", sans-serif;
  color: rgb(209, 208, 208);
  background-color: #121212;
}

.result-dialog {
  background-color: #505050;
  box-shadow: 0px 0px 27px -5px rgba(0, 0, 0, 0.92);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 16px;
  width: 400px;
  height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}

.winner-name {
  color: indianred;
}

.game-result-txt {
  font-size: 16px;
  color: #ededed;
}

.close-result {
  position: absolute;
  top: 10px;
  right: 20px;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-template-rows: 3fr 1fr;
  grid-template-areas:
    "player-input board"
    "player-input game-btn";
}

.player-container {
  grid-area: player-input;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.player-input {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  font-size: 19px;
  align-items: center;
  padding-left: 8px;
}

.player-container.inactive {
  opacity: 50%;
}

.btn-container {
  grid-area: game-btn;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-btn {
  height: 40px;
  width: 100px;
  border-radius: 10px;
  font-size: 14px;
  color: #121212;
  font-weight: 800;
}

.game-btn[data-mode="start"] {
  background-color: whitesmoke;
  border: 1px solid white;
}

.game-btn[data-mode="restart"] {
  background-color: rgb(219, 219, 0);
  border: 1px solid rgb(155, 155, 0);
}

.board {
  grid-area: board;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  opacity: 50%;
}

.board.active {
  opacity: 100%;
}

.tile {
  font-size: 60px;
  border: 3px solid rgb(209, 208, 208);
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-top {
  border-top: none;
}

.no-right {
  border-right: none;
}

.no-left {
  border-left: none;
}

.no-bottom {
  border-bottom: none;
}
